<section class="login-page"> <!-- Section for the login form -->
    <div class="form-heading"> <!-- Div for the form heading -->
        <h1>Log In:</h1> <!-- Heading of the form -->
    </div>
    <div class="form-section"> <!-- Div for the form section -->
        <form class="login-form"> <!-- Login form -->
            <div>
                <label for="username-login">Username:</label> <!-- Label for the username input field -->
                <input type="text" class="entry-field" id="username-login" /> <!-- Text input field for the username -->
            </div>
            <div>
                <label for="password-login">Password:</label> <!-- Label for the password input field -->
                <input type="password" class="entry-field" id="password-login" /> <!-- Password input field for the password -->
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Log In!</button> <!-- Button to submit the form, attempting to log in the user -->
            </div>
        </form>
    </div>

    <a href="/signup" class="sign-in-link">Sign Up!</a> <!-- Navigation link to sign up if the user doesn't have an account yet -->
</section>

<script src="/javascript/login.js"></script> <!-- Links to a JavaScript file that handles the login process -->
