<section class="sign-in-page"> <!-- Section for the sign-up form -->
    <div class="form-heading"> <!-- Div for the form heading -->
        <h1>Sign Up:</h1> <!-- Heading of the form -->
    </div>
    <div class="form-section"> <!-- Div for the form section -->
        <form class="signup-form"> <!-- Sign-up form -->
            <div>
                <label for="username-signup">Select a Username:</label> <!-- Label for the username input field -->
                <input type="text" class="entry-field" id="username-signup" /> <!-- Text input field for the username -->
            </div>
            <div>
                <label for="password-signup">Select a password:</label> <!-- Label for the password input field -->
                <input type="password" class="entry-field" id="password-signup" /> <!-- Password input field for the password -->
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Sign Up!</button> <!-- Button to submit the form, attempting to sign up the user -->
            </div>
        </form>
    </div>

    <a href="/login" class="login-link">Log In</a> <!-- Navigation link to log in if the user already has an account -->
</section>

<script src="/javascript/signup.js"></script> <!-- Links to a JavaScript file that handles the signup process -->
